
<form action="/names" method="post">
<ul>Player1: <input type="text" name="player1_name" ></ul>
<ul>Player2: <input type="text" name="player2_name" ></ul>
<input type="submit" value="Submit">
</form>
