<h1>Battle!</h1>
<h2>Sign in to play</h2>
<form action="/names" method="post">
<ul>Player1: <input type="text" name="player1" ></ul>
<ul>Player2: <input type="text" name="player2" ></ul>
<input type="submit" value="Submit">
</form>
